.app-root {
  min-width: 100%;
  min-height: 100%;
  background-color: #1e1e1e;
  font-family: 'Roboto', serif;
}

.columns {
  min-width: 100vw;
  min-height: 100vh;
}

.column-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  color: white;
  overflow-x: auto;
  width: 100%;
  min-height: 100vh;
}

.column {
  flex-shrink: 0;
  padding: 10px;
  margin-right: 20px;
  width: 20vw;
  min-width: 250px;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.column-header {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  background-color: #1a1a1a !important;
  color: white;
}

.card {
  position: relative;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.card:hover {
  border: 1px solid gray;
  background-color: #1e1e1e;
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card-header {
  text-align: center;
}

.button-plus-sign {
  margin-right: 10px;
}

.nav-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-bar-left {
  display: flex;
  gap: 0.75em;
}

.nav-bar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.board-selector {
  min-width: 25vw;
  text-align: center;
}

.create-card-backdrop, .create-board-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.create-card, .create-board {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  min-width: 50vw;
  max-width: 90vw;
  min-height: 50vh;
  max-height: 90vh;
  position: relative;
  border: 1px solid white;
}

.create-card-header, .create-board-header {
  text-align: center;
  margin: 0 0 1rem;
}

.create-card-close, .create-board-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.create-card-description, .create-card-title,
.create-board-title {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  margin-bottom: 1.5rem;
}

.create-card-description::placeholder, .create-card-title::placeholder,
.create-board-title::placeholder{
  color: #888;
}

.req-field {
  color: red;
}

.create-card-footer, .create-board-footer {
  margin-top: auto;
  padding-top: 10px;
  align-self: center;
}

.card-management, .board-management {
  position: absolute;
  background: transparent;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
}

.menu-btn {
  padding: 1px 2px 1px 2px;
  position: relative;
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
  letter-spacing: 1px;
  min-width: 24px;
  min-height: 24px;
}

.menu-popup {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  z-index: 1000;
}

.menu-item {

}

.menu-item-del {
  color: red;
}