.app-root {
  min-width: 100%;
  min-height: 100%;
  background-color: #1e1e1e;
  font-family: 'Roboto', serif;
}

.columns {
  min-width: 100vw;
  min-height: 100vh;
}

.column-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  color: white;
  overflow-x: auto;
  width: 100%;
  min-height: 100vh;
}

.column {
  flex-shrink: 0;
  padding: 10px;
  margin-right: 20px;
  width: 20vw;
  min-width: 250px;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.column-header {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  background-color: #1a1a1a !important;
  color: white;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.card:hover {
  border: 1px solid gray;
  background-color: darkblue;
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card-header {
  text-align: center;
}

.button-plus-sign {
  margin-left: 10px;
}