.app-root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1e1e1e;
}

.columns {
  min-width: 100vw;
  min-height: 100vh;
}

.column-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  background: #1e1e1e;
  color: white;
  overflow-x: auto;
  min-width: 100%;
  min-height: 100%;
}

.column {
  flex-shrink: 0;
  padding: 10px;
  margin-right: 20px;
  width: 20vw;
  min-width: 250px;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 100vh;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

button {
  border-color: white;
  background-color: #1e1e1e !important;
  color: white;
  margin: 10px auto auto 20px;
}